@import 'tailwindcss';

@theme {
  /* 폰트 */
  --font-sans: 'Inter', system-ui, sans-serif;
  --font-display: 'Shantell Sans', cursive;

  /* 배경 */
  --bg-main: #f2f1ed;
  --color-primary: #6384b6;
  --color-accent: #96b7d6;

  /* Status */
  --color-success: #67b99a;
  --color-error: #db6b6b;

  /* Speakers  */
  --color-speaker1: #e4e9f7;
  --color-speaker2: #d1efed;
  --color-speaker3: #ffe5c7;
  --color-speaker4: #ffeaea;

  /* Borders */
  --border-default: #dde1de;
  --border-strong: #6384b6;

  /* Text */
  --text-primary: #2d3136;
  --text-secondary: #7b7872;
  --text-muted: #b7b7a8;
}

/* 기본 스타일 */
@layer base {
  body {
    font-family: var(--font-sans);

    background-color: var(--color-bgPrimary);
    color: var(--color-textPrimary);
  }

  /* 제목 폰트 */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-display);
  }
}

@layer utilities {
  .border-b-wavy {
    position: relative;
    padding-bottom: 4px;
  }
  .border-b-wavy::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4px;
    background: radial-gradient(
        circle at 50% 0,
        transparent 3px,
        currentColor 3px,
        currentColor 4px,
        transparent 4px
      )
      repeat-x;
    background-size: 12px 4px;
    background-position: 0 100%;
    color: var(--color-textPrimary);
  }
}
