name: Gemini Code Review

permissions:
  contents: read
  pull-requests: write

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  review:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Gemini Code Reviewer

        uses: google-gemini/generative-ai-code-review@v1
        with:
          server_api_key: ${{ secrets.GEMINI_API_KEY }}

          gh_token: ${{ secrets.GITHUB_TOKEN }}
          model: 'gemini-1.5-flash'
